/* Universal styling  */

html{
padding: 0;
margin:0;
}

/* Bouncing arrow */





/* Special Fonts */






/* Images */

#contactHeaderImage{
border: solid 2px grey;
border-radius: 5px;
margin-top: 9%;
width: 45%;
height:calc(100vh - 110px);
object-fit: cover;
float: right;
opacity: 0.7;
box-shadow: 1px 3px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


/* Nav and nav clildren  */

.nav{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    }
    
    .nav-link:hover{
      color: #FF8C00;
      border-bottom: grey solid 2px;
      }
      
    
    .nav-link{
    color:black;
    display: block;
    text-align: center !important;
    }
    
    .nav-link:hover{
    color: grey;
    /* border-bottom: #FF8C00 solid 2px; */
    }
    .active-page{
      color: #CD853F;
       border-bottom: solid 2px lightgray;
    }
    


.contactUsTitle{
margin-top: 4%;
text-align: center;
font-size: 52px;
}

section{
padding-top: 65px;
}

form{
width: 50%;
margin-left: 5%;
padding-left: 10px;
margin-top: 10%;
font-size: 16px;
height: 50vh;
}

input{
height: 30px;
width: 225px;
border-radius: 0.1px;
border: 1px solid #ccc;
}

#color{
color: #5F9EA0;
}

.message{
height:190px;
width: 400px;
float: right;
margin-right: 40px;
margin-top: -162px;
box-sizing: border-box;
}

.messageTitle{
margin-top: -165px;
margin-right: 50%;
float: right;
}


#options{
margin-top: 25%;
}

.button{
margin-left: 30%;
margin-top:5%;
width: 100px;
}